/*图片精灵*/
.y-ico {
    background: url("images/ico.png") no-repeat;
    background-size: 109px 245px;
}
/*响应小屏模块*/
.g-box {
    width: 1206px;
    margin: 0 auto;
/*    background: red;*/
}

@media screen and (max-width:1205px) {
    .g-box {
        width: 960px;
    }
}

.ico-people {
    height: 11px;
    width: 11px;
    background-position: -2px -104px;
}
/*阴影模块*/
.m-shadow {
    box-shadow: 0px 1px 2px #d4d3d3;
}
/*小广告模块*/
.m-advert {
    width: 100%;
    height: 36px;
    overflow: hidden;
    line-height: 36px;
    background: #f3f3f3;
}

.m-advert p {
    display: inline-block;
}

.m-advert a {
    color: #21a557;
    margin-left: 4px;
}

.m-advert button {
    float: right;
    line-height: 36px;
}

.ico-close {
    height: 9px;
    width: 9px;
    margin-right: 6px;
    background-position: -2px -69px;
}

/*开始内容头部*/
.m-header {
    width: 100%;
    height: 89px;
    overflow: hidden;
    background: #fff;
}

.m-header .m-logo {
    float: left;
    height: 89px;
    width: 234px;
    line-height: 89px;
}
/*关注模块*/
.m-follow {
    display: inline-block;
    margin-top: 28px;
    margin-left: 30px;
    font-family: "宋体";
    font-size: 12px;
}
/*未关注状态*/
.z-follow-nor {
    border-radius: 2px;
    padding: 4px 9px;
    background: #21a557;
    color: #fff;
}

.z-follow-nor:hover {
    background: #2fb556;
}

.ico-follow {
    height: 8px;
    width: 8px;
    margin-right: 4px;
    background-position: -2px 0px;
}

.m-follow p {
    display: inline-block;
    margin-left: 14px;
}

.m-follow span {
    margin-left: 7px;
}
/*导航*/
.m-nav {
    float: right;
    height: 89px;
    font-size: 0;
    line-height: 89px;
}

.m-nav li {
    display: inline-block;
    text-align: center;
}

.m-nav a {
    float: left;
    height: 89px;
    padding: 0px 20PX;
    font: 16px/89px "Hiragino Sans GB","微软雅黑";
    color: #666;
}

.m-nav a:hover {
    color: #21a557;
}

.m-nav .ico-search {
    height: 19px;
    width: 19px;
    background-position: -2px -10px;
}

.m-nav .f-search:hover .ico-search {
    height: 19px;
    width: 19px;
    background-position: -2px -31px;
}

/*轮播banner*/
.m-banner {
    width: 100%;
    height: 460px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    position: relative;
    background: grey;
}

.m-banner .m-pointer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateY(-50%);
}

.m-pointer li {
    display: inline-block;
}

.m-pointer a {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    margin-right: 10px;
    background: #fff;
}

.m-pointer a:hover,.m-pointer .current a {
    background: #333;
}

/*三列布局*/
.g-main2 {
    width: 100%;
    height: 295px;
    background: #fff;
}

.m-mainbox {
    float: left;
    width: 32%;
    margin-top: 60px;
}

.m-mainbox i {
    float: left;
    margin-right: 20px;
}

.m-textbox {
    float: left;
    max-width: 242px;
}

.m-mainbox h2 {
    display: inline-block;
    margin-bottom: 14px;
    font-size: 22px;
}

.m-mainbox p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 32px;
    color: #666;
}

.m-mainbox a {
    font-size: 14px;
    color: #39a030;
}

.m-mainbox a:hover {
    text-decoration: underline;
}
/*小屏*/
@media screen and (max-width:1205px) {
    .m-mainbox p {
        width: 174px;
    }
}

.g-interval {
    float: left;
    width: 2%;
}

.ico-main1 {
    height: 80px;
    width: 80px;
    background-position: -29px 0px;
}

.ico-main2 {
    height: 80px;
    width: 80px;
    background-position: -29px -82px;
}

.ico-main3 {
    height: 80px;
    width: 80px;
    background-position: -29px -164px;
}
/* 居中平铺图片*/
.m-img-tile {
    width: 100%;
    height: 220px;
    text-align: center;
    margin-bottom: 80px;
}

.m-img-tile .img-content {
    white-space: nowrap;
    overflow: hidden;
    padding-top: 2px;
}

.img-content img {
    margin-right: 4px;
}

.g-content {
    width: 100%;
    margin: 0 auto;
/*    background: yellow;*/
}
/*  左边内容  */


/*切换标签模块*/
.m-tab {
    font-size: 0;
    margin-bottom: 30px;
}

.m-tab li {
    display: inline-block;
}

.m-tab a {
    padding: 14px 60px;
    font: 20px/50px "微软雅黑";
    background: #fff;
}

.m-tab a:hover {
    color: #fff;
    background: #39a030;
}
/* 课程列表 */
.g-left {
    float: left;
    width: 960px;
}

.m-list {
    height: 1222px;
    overflow: hidden;
}

@media screen and (max-width:1205px) {
    .g-left {
        width: 716px;
    }
}

.m-list ul {
    margin: -10px 0 0 -20px;
}

.m-product {
    display: inline;
    float: left;
    margin: 10px 0 0 20px;
    width: 225px;
    height: 227px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: left;
    background: #fff;
}

.m-listimg img {
    display: block;
    width: 223px;
    height: 124px;
    background: grey;
    margin: 0 auto;
}

.g-listxt {
    width: 218px;
    padding: 10px 5px;
}

.g-listxt p {
    margin-bottom: 6px;
}

.g-row1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.u-p9 {
    color: #999;
}

.u-coil {
    display: inline;
    font-size: 10px;
    padding: 0px 3px;
    border: solid 1px #ddd;
    border-radius: 2px;
}

.u-coil i {
    vertical-align: bottom;
    padding-bottom: 2px;
    padding-left: 3px;
}

.u-price {
    margin-top: 6px;
    font-weight: bold;
    color: #ff3f00;
}
/* 分页器 */
.m-page {
    float: right;
    margin-top: 32px;
    height: 20px;
    line-height: 20px;
/*    background: red;   */
}

.m-page a {
    display: inline-block;
    padding: 2px 12px;
    font-size: 14px;
    color: #666;
}

.m-page a:hover {
    color: #fff;
    background: #9dd8b1;
}

.m-page .z-crt {
    color: #39a030;
}

.m-page .pageprv,.m-page .pagenxt {
    color: #fff;
    background: #9dd8b1;
}
/*right*/
.g-right {
    float: right;
    width: 225px;
    height: auto;
/*    background: yellow;*/
}

.m-right {
    background: #fff;
    margin-bottom: 20px;
}

.g-right h2 {
    height: 56px;
    font-size: 16px;
    line-height: 54px;
    padding-left: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #ddd;
}

.g-right p {
    font: 14px "微软雅黑";
    color: #666;
    padding: 0px 0 10px 20px;
}

.g-right img {
    display: table;
    margin: 0 auto;
}

.m-vido {
    padding-bottom: 20px;
}

.m-slist {
    padding: 0px 14px 20px 20px;
}

.m-slist img {
    display: inline-block;
}

.m-slist a {
    display: inline;
}

.m-slist i {
    display: block;
    padding-left: 14px;
    font: 12px/12px "微软雅黑";
    margin-top: 10px;
    color: #999;
}

.g-right-text {
    float: right;
    width: 126px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.g-right-text a {
    font-size: 14px;
}
/*底部*/
.footer {
    float: left;
    width: 100%;
    background: #2c3339;
    margin-top: 170px;
}

.g-ft {
    width: 960px;
    height: 262px;
    overflow: hidden;
    margin: 0 auto;
}

.m-ft-left {
    float: left;
    padding-top: 92px;
    padding-right: 120px;
}

.m-ft-left img {
    padding-bottom: 28px;
}

.m-ft-left p {
    font-size: 12.5px;
    color: #a2a4a5;
}

.m-ft-right li {
    float: left;
    text-align: left;
    padding-top: 82px;
    margin-right: 70px;
    line-height: 30px;
    color: #bebfc0;
}

.m-ft-right li a {
    display: inline-block;
    font-size: 14.5px;
    color: #bebfc0;
}

.m-ft-right li a:hover {
    text-decoration: underline;
}

.ico-sns-weibo {
    height: 16px;
    width: 20px;
    margin-left: 12px;
    background-position: -2px -85px;
}

.m-ft-right i {
    float: right;
    margin-top: 8px;
}

/*弹出模块*/
.m-mask {
    z-index: 1200;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.m-popbox {
    position: fixed;
    z-index: 4000;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%,-50%);
}
/*登陆*/
.m-login {
    height: 288px;
    width: 387px;
    color: #444;
}

.ico-bclose {
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-position: -2px -120px;
}

.m-form {
    padding-top: 20px;
    padding-left: 40px;
}

.u-popbox-h {
    font: bold 18px "微软雅黑";
    padding-bottom: 20px;
}

.m-border {
    width: 295px;
    margin-bottom: 20px;
    border: solid 1px #dfdfdf;
}

.m-form input {
    height: 44px;
    width: 281px;
    font: 16px "微软雅黑";
    border: 2px solid #f1f1f1;
    padding-left: 12px;
    border-width: 2px 0 0 2px;
    background: #fafafa;
}

.m-form .u-submit {
    text-align: center;
    line-height: 46px;
    padding-right: 12px;
    color: #fff;
    font-weight: bold;
    width: 293px;
    border-width: 0;
    cursor: pointer;
    box-shadow: 3px 3px 0px #d5e3da;
    background: url("images/btn-x_03.jpg") repeat-x;
}
/* 视频弹窗 */
.m-video {
    padding: 30px 30px 40px 30px;
}